/*Javascript CSS start*/
.header_h1{
	padding: 10px 0;
	color: #ffffff;
	background-color: #12121a;
}
.js_h1,.jq_h1{
	margin: 0;
	font-size: 56px;
	text-align: center;
}
/*Javascript CSS end*/

/*jQuery start*/
.title{
	margin-top: 20px;
	background-color: #584848;
	text-align: center;
}
.jq_h2{
	font-size: 40px;
	color: aqua;
}
.jq_content h2{
	color: #101010;
}
/*jQuery end*/