/*Javascript CSS start*/
.header_h1{
	padding: 10px 0;
	color: #ffffff;
	background-color: #12121a;
}
.js_h1,.jq_h1{
	margin: 0;
	font-size: 56px;
	text-align: center;
}
/*Javascript CSS end*/

/*jQuery start*/
.title{
	margin-top: 20px;
	background-color: #584848;
	text-align: center;
}
.jq_h2{
	font-size: 40px;
	color: aqua;
}
.jq_content h2{
	color: #101010;
}

#draggable, #drag { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em;
	background-color: aqua; 
}

 #droppable { 
  	width: 300px; 
  	height: 300px; 
  	padding: 0.5em; 
  	margin: 10px 0;
 }

 .drop_div{
 	margin-bottom: 10px;
 }

 #sortable { 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0; 
 	width: 60%; 
 }
 #sortable li { 
  	margin: 0 3px 3px 3px; 
  	padding: 0.4em; 
  	padding-left: 1.5em; 
  	font-size: 1.4em; 
  	height: 18px; 
  }
 #sortable li span { 
  	position: absolute; 
  	margin-left: -1.3em; 
  }
/*jQuery end*/